<ion-header>
  <ion-toolbar color="success">
    <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">
    </ion-icon>
    <ion-title>{{Nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="message-wrap">
    <div *ngFor="let item of lista" class="message">
  
      <div class="msg-detail" *ngIf="item.MeuNome == myName">
        <div class="msg-info">
          <p>
            {{item.dataEnvio | date:'HH:mm'}}
          </p>
        </div>
        <div class="msg-content" style="background-color:#ffffff">
          <p class="line-breaker ">{{item.texto}}</p>
        </div>
      </div>

      <div class="msg-detail" style="text-align: -webkit-right;" *ngIf="item.MeuNome !== myName">
        <div class="msg-info">
          <p>
            {{item.dataEnvio | date:'HH:mm'}}
          </p>
        </div>
        <div class="msg-content" style="background-color: darkseagreen">
          <p class="line-breaker" style="text-align: left;">{{item.texto}}</p>
        </div>
      </div>

    </div>
  </div>

</ion-content>

<ion-footer no-border>
    <div class="input-wrap">
      <textarea #chat_input placeholder="Digite aqui..." 
        [(ngModel)]="mensagem"
        (focusin)="onFocus()"> 
      </textarea>

      <ion-button  color="success" slot="end" fill="clear" size="small" (click)="enviar()">
        <ion-icon class="icone" name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-footer>