
ion-content .scroll-content {
  background-color: #f5f5f5;
}

.line-breaker {
  white-space: pre-line;
  color: black;
}

  .message-wrap {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }
        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
        }

      }
    }
  }

.input-wrap {
    padding: 5px;
    display: flex;
}
.input-wrap textarea {
  flex: 1;
  border: 0;
  border-bottom: 1px #000000 solid;
  border-style: solid;
}

ion-footer {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  background-color: #fff;
}
