
ion-img{
    height: 230px;
}
.container-btn{
    display: flex;
    justify-content: space-between;
}
.titulo{
    text-align: center;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}