<ion-header>
  <ion-toolbar color="success">

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-title class="titulo">
        Desaparecidos
      </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngFor="let usuario of usuarios">
    <ion-img [src]="usuario.Imagem1"></ion-img>

    <ion-card-content>
      <ion-card-subtitle>Status: {{usuario.Titulo}}</ion-card-subtitle>
      <p>{{usuario.Descricao}}</p>
    </ion-card-content>

    <div class="container-btn">
        <ion-button *ngIf="meuID != null" color="success" style="font-size: 11px;" (click)="detalhes(usuario.PostId)" slot="start" fill="clear" size="small">
          <ion-icon class="icone" name="eye"></ion-icon>
          Ver
        </ion-button>
        <ion-button *ngIf="meuID != null" color="success" style="font-size: 11px;" (click)="comentar(usuario.PostId)" fill="clear" size="small">
          <ion-icon class="icone" name="text"></ion-icon>
          Comentar
        </ion-button>
        <ion-button style="font-size: 11px;" (click)="compartilhar(usuario.Descricao)" color="success" slot="end" fill="clear" size="small">
          <ion-icon class="icone" name="share-alt"></ion-icon>
          Compartilhar
        </ion-button>
    </div>
  </ion-card>

</ion-content>