<ion-app>
    <ion-split-pane>
      <ion-menu>

        <ion-header>
          <ion-toolbar class="cabecalho-menu" color="dark">

              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="../assets/Pessoas/pessoa-geral.jpg"></ion-img>
                </ion-avatar>
                <p *ngIf="usuarioAtual != null">Ola, {{usuarioAtual}}</p>
                <p *ngIf="usuarioAtual == null">Ola, Visitante</p>
              </ion-item>

              <ion-item (click)="logout()">
                <ion-icon slot="start" [name]="log-out"></ion-icon>
                <ion-label>
                  <p>Sair</p> 
                </ion-label>
              </ion-item>

          </ion-toolbar>
        </ion-header>

        <ion-content>

          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

        </ion-content>
      </ion-menu>

      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>