#publicacao-container{
    width: 100%;
    height: 100%;
    background-color: #ffffff
}
#publicacao-container #controles{
    padding: 5px 0px 5px 10px;
    background-color: gray
}
#publicacao-container #controles span{
    margin: 0 10px;
    position: relative;
    top: -2px;
}
#publicacao-container #conteudo{
    padding-left: 5px; 
}
#publicacao-container #comentarios #enviar-mensagem{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 50px 10px;
}
#publicacao-container #comentarios #enviar-mensagem ion-textarea{
    border: 1px solid #000000;
    border-radius: 20px;
    margin-right: 20px;
}
#publicacao-container #comentarios #enviar-mensagem ion-textarea:focus{
    height: 73px;
    color: red
}    
#publicacao-container #comentarios .comentario{
    display: flex;
}
#publicacao-container #comentarios .comentario .comentario-avatar {
    position: relative;
    top: -20px;
}
#publicacao-container #comentarios .comentario .comentario-avatar ion-img{
    width: 45px;
    height: 45px;
}
#publicacao-container #comentarios .comentario .container-nome-coment{
    // background-color: gray;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}
#publicacao-container #comentarios .comentario .container-nome-coment .nome_usuario{
    position: relative;
    top: -10px;
}
#publicacao-container #comentarios .comentario .container-nome-coment .comentario_usuario{
    position: relative;
    top: -20px;
}
.img-slide {
    width: 100%;
    height: 100%;
    object-fit: contain;
}