<ion-header>
  <ion-toolbar color="success">
    <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">Voltar</ion-icon>
    <p *ngFor="let post of dados">{{post.Titulo}}</p>

    <ion-buttons slot="end">

        <ion-button *ngIf="LoggedIn" slot="start" fill="clear" size="small" (click)="chat()">
            <ion-icon class="icone" name="text"></ion-icon> 
        </ion-button>

        <!-- <ion-button slot="end" fill="clear" size="small">
            <ion-icon class="icone" name="share"></ion-icon>
        </ion-button> -->
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of dados" id="publicacao-container">
    
      <ion-slides style="height: 200px;" pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let imagem of Imagens">
          <img class="img-slide" [src]="imagem">
        </ion-slide>
      </ion-slides>

    <!-- <div id="controles">
      <ion-icon name="eye"></ion-icon> 
        <span>10</span>
      <ion-icon name="share"></ion-icon> 
        <span>2</span> 
    </div> -->

    <div id="conteudo">
      <h4>{{post.Titulo}}</h4>
      <p>{{post.Descricao}}</p>
    </div>

    <div id="comentarios">
      <div class="comentario" *ngFor="let comment of comments">
          <ion-item>
            <ion-avatar class="comentario-avatar" slot="start">
              <ion-img src="../assets/Pessoas/pessoa-geral.jpg"></ion-img>
            </ion-avatar>

            <div class="container-nome-coment">
              <h5 class="nome_usuario">{{comment.Nome_Usuario}} {{comment.Sobre_nome}}</h5>
              <p class="comentario_usuario">{{comment.Comentario}}</p>
            </div>
          </ion-item>
      </div>

      <div id="enviar-mensagem">
        <!-- <textarea rows="2" placeholder="Describe yourself here..."> </textarea> -->
        <ion-textarea [(ngModel)]="comentario" 
          id="comment_input"
          name="comentario" 
          id="caixa-comentario" 
          placeholder="Escreva um comentário...">

        </ion-textarea>

        <ion-button (click)="comentar()" color="success">Publicar</ion-button>
      </div>
      
    </div>
  </div>
</ion-content>