<ion-content padding>
  <h2 style="text-align: center">Desaparecidos</h2>
  <ion-img src="../../assets/icon/peoplesearch.jpg"></ion-img>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
  </ion-item>
  
  <ion-button (click)="acessarComConta()" color="success"  expand="block" fill="outline">
    login
  </ion-button>
  
  <p (click)="acessoSemConta()" style="text-align: center; font-weight: bold; text-decoration: underline;">
    Não tenho conta!
  </p>

  <div id="container-botoes">
    <p (click)="criarConta()"> Criar conta >> </p>
    <p> Esqueci senha >> </p>
  </div>

</ion-content>