h2{
    text-align: center;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
    color: #10dc60;
}
ion-img {
    height: 80px;
    margin: 0 auto;
    width: 100px;
}
ion-label{
    color: #10dc60;
}
#container-botoes{
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 0.1;
}
#container-botoes p:first-child{
    font-weight: bold;
}