#publicacao-container{
    width: 100%;
    height: 100%;
    background-color: #ffffff
}
#publicacao-container #img-container{
    width: 100%;
    height: 130px;
}
#publicacao-container #controles{
    padding: 5px 0px 5px 10px;
    background-color: gray
}
#publicacao-container #controles span{
    margin: 0 10px;
    position: relative;
    top: -2px;
}
#publicacao-container #conteudo{
    padding-left: 5px; 
}
#publicacao-container #botoes{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#publicacao-container #comentarios{
    
}
#publicacao-container #comentarios .comentario{
    display: flex;
}
#publicacao-container #comentarios .comentario .comentario-avatar {
    position: relative;
    top: -20px;
}
#publicacao-container #comentarios .comentario .comentario-avatar ion-img{
    width: 45px;
    height: 45px;
}
#publicacao-container #comentarios .comentario .container-nome-coment{
    // background-color: gray;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}
#publicacao-container #comentarios .comentario .container-nome-coment .nome_usuario{
    position: relative;
    top: -10px;
}
#publicacao-container #comentarios .comentario .container-nome-coment .comentario_usuario{
    position: relative;
    top: -20px;
}