<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">Voltar</ion-icon>
    <p *ngFor="let post of dados">{{post.Titulo}}</p>
    <ion-buttons slot="end">
        <ion-button slot="end" fill="clear" size="small">
            <ion-icon class="icone" name="share"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of dados" id="publicacao-container">
    <div id="img-container">Imagens</div>

    <div id="controles">
      <ion-icon name="eye"></ion-icon> 
        <span>10</span>
      <ion-icon name="share"></ion-icon> 
        <span>2</span>
    </div>

    <div id="conteudo">
      <h4>{{post.Titulo}}</h4>
      <p>{{post.Descricao}}</p>
    </div>

    <div id="comentarios">
      <div class="comentario" *ngFor="let comment of comments">
          <ion-item>
            <ion-avatar class="comentario-avatar" slot="start">
              <ion-img src="../assets/Pessoas/pessoa-geral.jpg"></ion-img>
            </ion-avatar>

            <div class="container-nome-coment">
              <p class="nome_usuario">{{comment.Nome_Usuario}} {{comment.Sobre_nome}}</p>
              <p class="comentario_usuario">{{comment.Comentario}}</p>
            </div>
          </ion-item>
      </div>

      <div id="enviar-mensagem">
        <!-- <textarea rows="2" placeholder="Describe yourself here..."> </textarea> -->
        <ion-textarea id="caixa-comentario" placeholder="Escreva um comentário..."></ion-textarea>
        <ion-button color="success">Publicar</ion-button>
      </div>
      
    </div>

    <div id="botoes">
      
        <ion-buttons>
          <ion-button color="primary">
            Chat
          </ion-button>
          <ion-button color="warning">
            Ligar
          </ion-button>
          <ion-button color="success">
              Email
          </ion-button>
        </ion-buttons>

    </div>

  </div>
</ion-content>
