<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
        <ion-button fill="clear" size="small" (click)="dismiss()">
          <ion-icon class="icone" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button size="small" (click)="Atualizar()">
         Atualizar
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Titulo*</ion-label>
    <ion-input [(ngModel)]="Titulo" name="Titulo"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição*</ion-label>
    <ion-textarea rows="5" cols="20" [(ngModel)]="Descricao" name="Descricao"> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Visto ultima vez</ion-label>
    <ion-input [(ngModel)]="Visto_encontrado" name="Visto_encontrado"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input [(ngModel)]="Telefone" name="Telefone"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="Email" name="Email"> </ion-input>
  </ion-item>

</ion-content>