#container-imagens .imagens{
    border: 1px solid #000000;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

#container-imagens .imagens img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

 #container-imagens{
     display: flex;
     margin-top: 10px;
 }
//  #container-imagens .imagens:hover{
//      background-color: grey;
//  }
