<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">Voltar</ion-icon>
    <ion-title style="text-align:center">Criar Publicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Titulo</ion-label>
    <ion-input [(ngModel)]="Titulo" name="Titulo"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea rows="5" cols="20" [(ngModel)]="Descricao" name="Descricao"> </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Visto ultima vez / Encontrado (Endereço)</ion-label>
    <ion-input [(ngModel)]="Visto_encontrado" name="Visto_encontrado"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input type="number" [(ngModel)]="Telefone" name="Telefone"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="Email" name="Email"> </ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="stacked">
      Imagens
    </ion-label>
  </ion-item> -->
  
  <div id="container-imagens">

    <div class="imagens" (click)="presentActionSheet()"> 
      <ion-icon style="height: 68px; width: 68px;" *ngIf="imageSrc == null" class="icone" name="person"></ion-icon> 
      <img *ngIf="imageSrc != null" [src]="imageSrc"> 
    </div>

    <div class="imagens" (click)="presentActionSheet1()"> 
      <ion-icon style="height: 68px; width: 68px;" *ngIf="imageSrc1 == null" class="icone" name="person"></ion-icon> 
      <img *ngIf="imageSrc1 != null" [src]="imageSrc1"> 
    </div>

    <div class="imagens" (click)="presentActionSheet2()">  
      <ion-icon style="height: 68px; width: 68px;" *ngIf="imageSrc2 == null" class="icone" name="person"></ion-icon> 
      <img *ngIf="imageSrc2 != null" [src]="imageSrc2"> 
    </div>
    
    <!-- <input style="position:absolute" type='file' (change)="onSelectFile($event)">
    <input style="position:absolute; left: 160px;" type='file' (change)="onSelectFile2($event)"> -->
  </div>

  <ion-button (click)="Publicar()" color="success" expand="block">
      Publicar
  </ion-button>

</ion-content>