#cabecalho{
    background-color: #10dc60;
    height: 110px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
#cabecalho #info_perfil{
    text-align: center;
}
#btn-editar{
    float: right;
}
#cabecalho #info_perfil p{
    margin: 0;
    padding: 0;
}

ion-img{
    height: 230px;
}