<ion-header>
  <ion-toolbar color="success">
      <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">
        </ion-icon>
    <ion-title>Conversas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="">
        </ion-avatar>
        <ion-label>
          <h2>FUlana de tal</h2>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>

    </ion-list>

</ion-content>
