<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="icone" (click)="paginaAnterior()" name="arrow-round-back">Voltar</ion-icon>
    <ion-title style="text-align: center">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="nome" name="nome"> </ion-input>
    </ion-item>    

    <ion-item>
      <ion-label position="stacked">Sobre nome</ion-label>
      <ion-input [(ngModel)]="sobre_nome" name="sobre_nome"></ion-input>
    </ion-item>   
    
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email"></ion-input>
    </ion-item>   
    
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input [(ngModel)]="senha" name="senha"> </ion-input>
    </ion-item>    

    <div style="display: flex; justify-content: start; margin-top: 20px;">
      <ion-checkbox (ionChange)="botao($event)" slot="start" color="success"></ion-checkbox>
        <p (click)="termos()" style="font-weight: bold; margin-left: 15px; text-decoration: underline; font-size: 10px;">
          Concordo com os termos e condições de uso
        </p> 
    </div>

    <ion-button [disabled]="btnAtivo" style="margin-top: 20px" color="success" (click)="cadastrar()" expand="block" fill="outline">
      Criar conta
    </ion-button>

</ion-content>