<ion-header>
  <ion-toolbar color="success">
  
    <ion-buttons slot="start">
        <ion-button fill="clear" size="small" (click)="dismiss()">
          <ion-icon class="icone" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
        <ion-button size="small" (click)="Atualizar()">
         Atualizar
        </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="Nome" name="Nome"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sobre nome</ion-label>
    <ion-input [(ngModel)]="SobreNome" name="SobreNome"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="Email" name="Email"> </ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="stacked">Localização</ion-label>
    <ion-input [(ngModel)]="Localizacao" name="Localizacao"> </ion-input>
  </ion-item> -->

</ion-content>